html {font-size: 62.5%;}
body {font: normal 1.6rem / 1.5 Tahoma, serif;}
h1 {font-size: 2.4rem;}
h2 {font-size: 2.0rem;}
table {border-collapse: collapse;}
th, td {padding: 4px 10px; border: 1px solid black; text-align: center;}
a {text-decoration: none; color: #08c;}
.left {text-align: left;}
.ac {color: #070; font-size: 1.5rem;}
.ok {color: darkgoldenrod; font-size: 1.5rem;}
.rj {color: #b00; font-size: 1.5rem;}
.ok0 {font-weight: 900;}
.c0 {background-color: #a50026;}
.c1 {background-color: #d73027;}
.c2 {background-color: #f46d43;}
.c3 {background-color: #fdae61;}
.c4 {background-color: #fee08b;}
.c5 {background-color: #ffffbf;}
.c6 {background-color: #d9ef8b;}
.c7 {background-color: #a6d96a;}
.c8 {background-color: #66bd63;}
.c9 {background-color: #1a9850;}
.c10 {background-color:#006837;}
/*  http://colorbrewer2.org/  */
